@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    list-style: none;
}

:root {
    --color-yellor: #FFB400;
    --color-font-titulo-black: #2B2B2B;
    --color-font-descricao-black: #767676;
}

h2 {
    color: var(--color-font-titulo-black);
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 2rem;
}

p {
    color: var(--color-font-descricao-black);
    font-size: 1rem;
    font-weight: normal;
    margin-bottom: .5rem;
}

body {
    display: grid;
    grid-template-columns: 15% 80% 5%;
}

.container-perfil {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.container-perfil>.detalhes-foto {
    margin: 2rem auto;
}

.detalhes-foto img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: rgb(226, 226, 226);
    margin-bottom: 1rem;
    object-fit: cover;
}

.detalhes-foto h5 {
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1rem;
}

.detalhes-foto>p {
    text-align: center;
}

.detalhes-perfil {
    margin-bottom: 1rem;
}

.perfil {
    display: flex;
    justify-content: space-between;
    margin: .5rem 0 .5rem 0;
}

.perfil h4 {
    padding: .3rem;
    font-weight: normal;
    background-color: var(--color-yellor);
}

.container-languages {
    margin-bottom: 1rem;
}

.container-languages h4 {
    margin-bottom: .5rem;
    color: var(--color-font-titulo-black);
}

.linguages {
    display: flex;
    justify-content: space-between;
}

.linguages h5,
p {
    font-weight: normal;
    font-size: .9rem;
    color: var(--color-font-descricao-black);
}

.progress {
    padding: 2px 3px 4px;
    width: 100%;
    height: 5px;
    border-radius: 5px;
    color: white;
    border: 1px solid var(--color-yellor);
    margin-bottom: .5rem;
}

.progress div {
    height: 2px;
    border-radius: 10px;
    background-color: var(--color-yellor);
}

.redes {
    display: flex;
    justify-content: space-between;
}

.redes ul i {
    padding: .2rem;
    background-color: var (--color-yellor);
    border-radius: 50%;
}


main {
    min-width: 320px;
    padding: 2rem;
    background-color: #F0F0F6;
}

.container-sobre-min {
    display: flex;
    justify-content: space-between;
    background-color: white;
    margin-bottom: 7rem;
}

.container-sobre-min>section {
    margin: auto 0rem auto 0;
    padding: 5rem 0 2rem 5rem
}

.container-sobre-min>section h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.job {
    color: var(--color-yellor);
}

.container-sobre-min>section p {
    margin-bottom: 2rem;
    min-width: 200px;
    max-width: 400px;

    font-size: 1rem;
    font-weight: 300;
    color: var(--color-font-descricao-black);
    text-align: start;
}

.container-sobre-min>section button {
    padding: 15px 25px;
    border: none;
    background: var(--color-yellor);
    border-radius: 5px;
    text-transform: uppercase;
}

.container-educacao h1 {
    font-size: 2rem;
}

.educacao-titulo>p {
    text-align: center;
    margin-bottom: 1.5rem;
}

.educacao-certificados {
    background-color: white;
    padding: 5rem 3rem;
}

.educacao-titulos {
    display: grid;
    grid-template-columns: 1fr 60%;
    color: var(--color-font-titulo-black);
}

.educacao-titulos>h3 {
    font-weight: 500;
    margin-bottom: 1.5rem;
}

.educacao-titulos>p {
    align-items: start;
    margin-bottom: 1.5rem;
}

.date {
    background-color: var(--color-yellor);
    padding: .2rem .3rem;
    color: white;
    margin-left: 1rem;
    font-size: .8rem;
}

hr {
    border-color: rgba(0, 0, 0, 0.089);
    margin-bottom: 1.5rem;
}

.perfil-grande {
    width: 600px;
    height: 600px;
}

.perfil-grande>img {
    width: 100%;
    height: 100%;
    background-size: cover;
    object-fit: cover;
}

.container-menu {
    height: 100vh;
}

.container-menu li {
    display: flex;
    flex-direction: column;
}

.container-menu>li ul {
    margin: 2rem auto;
    padding: .6rem .5rem;
    border-radius: 100%;
    background-color: #FFB400;
}

@media (max-width: 1250px) {
    body {
        grid-template-columns: 95% 5%;
    }

    .container-perfil {
        display: none;
    }

    .perfil-grande {
        width: 350px;
        height: auto;
    }

    main {
        padding: 0;
        padding-right: 1rem;
    }
}

@media (max-width: 983px) {
    body {
        display: block;
    }

    main {
        padding: 0;
        padding-right: 0;
    }

    .container-sobre-min>section h1 {
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }

    .container-sobre-min>section {
        margin: auto 0rem auto 0;
        padding: 5rem 0 2rem 3rem;
    }
}

@media (max-width: 730px) {
    .container-sobre-min {
        flex-direction: column-reverse;
        align-items: center;
    }
    .container-sobre-min>section p {
        max-width: 600px;
    }
}

@media (max-width: 425px) {
    .container-sobre-min > section{
        position: absolute;
        bottom: center;
        padding: 1rem;
    }

    .perfil-grande{
        width: 100%;
        height: 600px;
    }
}